<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>게시물 목록</title>
</head>
<body>
<div layout:fragment="content" class="container my-3">
    <h1>게시물 목록</h1>
    <form th:action="@{/search}" method="get">
        <input type="text" name="keyword" placeholder="검색어 입력">
        <input type="submit" value="검색">
    </form>
    <form th:action="@{/posts}" method="get">
        <button type="submit" name="sortBy" value="createdAt">날짜순</button>
        <button type="submit" name="sortBy" value="title">이름순</button>
    </form>
    <table>
        <thead>
        <tr>
            <th>제목</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${posts}">
            <td><a th:href="@{/posts/{id}(id=${post.id})}" th:text="${post.title}"></a></td>
            <td th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
<!--            <td th:text="${post.tagNames}"></td>-->
            <td><a th:href="@{/posts/{id}/update(id=${post.id})}">수정</a></td>
            <td><a th:href="@{/posts/{id}/delete(id=${post.id})}" onclick="return confirm('삭제하시겠습니까?')">삭제</a></td>
        </tr>
        </tbody>
    </table>
    <a href="/create">새 게시물 작성</a>
    <a href="/logout">로그아웃</a>
</div>
</body>
</html>