<!doctype html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<th:block layout:fragment="content">
    <h1 th:text="${post.title}"></h1>  <!-- 게시물 제목 -->
    <p th:text="${post.content}"></p>  <!-- 게시물 내용 -->
    <p th:text="${#temporals.format(post.updatedAt, 'yyyy-MM-dd HH:mm')}"></p>  <!-- 수정 시간 -->
    <a href="/posts">뒤로가기</a>  <!-- 게시물 목록으로 돌아가기 링크 -->
    <a th:href="@{/posts/{id}/update(id=${post.id})}">수정</a>  <!-- 수정 링크 -->
    <td><a th:href="@{/posts/{id}/delete(id=${post.id})}">삭제</a></td>  <!-- 삭제 링크 -->
</th:block>
</body>
</html>